html{
  background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 50%, #97dbb5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#ffffff), color-stop(100%,#97dbb5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#97dbb5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#97dbb5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#97dbb5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 50%,#97dbb5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#97dbb5',GradientType=0 ); /* IE6-9 */

background-attachment: fixed;
}

body{
color: #454545 !important;

font-family: "Lucida Grande", "Lucida Sans Unicode", "Segoe UI", Helvetica, Arial, sans-serif !important;
font-size: 14px;
line-height: 26px;

background:none;

max-width:1200px !important;
margin: 0 auto !important;
}

h2{
font-size:175% !important;
}

.inline{
display:inline-block;
}

.header{
position:fixed;
top:0;

background:white;

z-index: 9999;

width:100%;
max-width:1200px;
padding-bottom:10px;
}

#logo{
background-image:url("/nruf/images/logo.png");
background-size: 100% 100%;

margin:10px 0 0 10px;

height:45px;
width:261px;
}

.btn-group{
float: right;

margin: 10px 10px 0 0 !important;
}

.btn-group label a{
color:#454545;
}

#footer{
font-size: 75%;

margin:0 auto;
margin-top:15px;

max-width: 800px;
padding:0 15px 0 15px;
}

#chooser{
margin: 15px 0 15px 5px;
}

#chooser select{
max-width:250px;
margin-top:10px;

width:50%;
}

.title{
margin:15px 0 15px 0;

width: 100%;
max-width:500px;
padding:0 15px 0 15px;
}

.titleEl{
color: #00853e;

display: block;

word-break: break-word;
}

#chart, .chart{
position:relative;
}

.chart{
display:inline-block;
vertical-align:top;
}


/*SVG*/
text { 
font: 10px sans-serif;
}

.axis path, .axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.x.axis path {
display: none;
}

.cell-label, .tick text, .diff{
font-size:150%;
text-anchor:end;
}

.cell-label, .x.axis text{
text-shadow: 1px 1px 7px;
}


.diff{
color: white;

position:absolute;
top:10%;

padding: 10px;
border-radius:5px;

background: rgba(0, 0, 0, 0.75); 
}

.alt{
  padding-left:15px;
}

.notes{
margin: 0 auto;
margin-top:10px;

max-width: 89%;

word-break: break-word;
}

.notes span{
font-weight:800;
}

.strong{
  font-weight:800;
}

.block{
  display:block;
}

/*RESPONSIVENESS*/
@media (min-width: 1025px){
  .chart{
  margin-right:5%;

  width:45%;
  }
}

@media (max-width: 540px){
  #logo{
  height:36.2px;
  width:210px;
  }

  .cell-label, .tick text, .diff{
  font-size:100%;
  }
}

@media (max-width: 460px){
  #logo{
  background-image:url('/nruf/images/logoVert.png');

  height:45px;
  width:57.6px;
  }

  .cell-label, .tick text, .diff{
  font-size:80%;
  }
}